.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    .logo {
      font-size: 30px;
      font-weight: bold;
      color: #354221;

      img {
        height: 100px;
      }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #354221;
          color: white;
          transition: 300ms;
        }

        .icon {
          font-size: 18px;
          color: #354221;
        }

        span {
          font-size: 13px;
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #354221;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }

      &:nth-child(3) {
        background-color: #354221;
      }
    }
  }
}

.activeLink {
  color: #354221;
  font-weight: bold;
}

.hra {
  color: #354221 !important;
}

.pasiveLink {
  color: #888;
  font-weight: bold;
}
//--------------------------footer--------------------------

.footerBox{
  width: 99%;
  background:#354221;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}